<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
 <!-- <mat-grid-list cols="1" rowHeight="30px" rowWidth="120px"> -->
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
	
	
     <mat-card-content>
	  <form class="example-form" *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username"  name="username" [(ngModel)]="form.username" required #username="ngModel" minlength="3" maxlength="20" />
		 
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" name="email" [(ngModel)]="form.email" required email #email="ngModel">
		
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel">
		  
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Choose a role...</mat-label>
          <mat-select>
            <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
            </mat-option>
          </mat-select>
        </mat-form-field>
		   <button mat-stroked-button color="accent" class="btn-block">Register</button>
	  <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>
      </mat-card-content>
	 
   
	 <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </mat-card>
   <!--</mat-grid-list-->
</div>